<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/templates/script.js">
    </script>
    <title>Apekcha Limbu | Personal Portfolio</title>
  </head>
  <body>
    <nav>
      <ul>
        <div class="apex">
          <li><a href="/templates/index.html" class="ubuntu-light">Apekcha Limbu</a></li>
        </div>
        <div class="navbar">
          <li><a href="/templates/about.html" class="ubuntu-regular">About Me</a></li>
        </div>
      </ul>
    </nav>
  </body>
</html>
